{% extends "rq_dashboard/base.html" %}


{% block content %}

<style>
    #compute thead tr th {
        text-align: center;
        background: #cccccc;
    }
    #compute tbody tr td {
        text-align: right;
        padding-right: 20px;
    }
    #compute tbody tr>td:first-child {
        text-align: center;
    }
    #volume thead tr th {
        background: #cccccc;
    }
    #volume .value {
        text-align: right;
        padding-right: 20px;
    }
</style>

<div class="row" id="rq-instances-row">
    <div class="span12">
        <div class="section">
            <h1>Openstack Darter</h1>
            <p class="intro">This tool show info about capacity of openstack</p>
            <p class="intro">
                <a href="/rq/">For display the process of get capacity on OpenStack click here!</a>
            </p>
        </div>
    </div>
    <div class="span12">
        <div class="section">
            <h1>Compute in Use</h1>
        </div>
        <div class="section">
            <table id="compute" class="table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2">Region</th>
                        <th rowspan="2">Servers</th>

                        <th colspan="2">Hypervisor vCPUs</th>
                        <th colspan="2">Instances vCPUs</th>

                        <th colspan="2">Hypervisor Memory</th>
                        <th colspan="2">Instances Memory</th>

                    </tr>
                    <tr>
                        <th style="border-left: 1px solid #ddd; border-top: 1px solid #ddd;">Used</th>
                        <th style="border-top: 1px solid #ddd;">Total</th>
                        <th style="border-top: 1px solid #ddd;">Used</th>
                        <th style="border-top: 1px solid #ddd;">Quote</th>
                        <th style="border-top: 1px solid #ddd;">Used</th>
                        <th style="border-top: 1px solid #ddd;">Total</th>
                        <th style="border-top: 1px solid #ddd;">Used</th>
                        <th style="border-top: 1px solid #ddd;">Quote</th>
                    </tr>
                </thead>
                <tbody>
                    {% for region in regions %}
                    <tr>
                        <td>{{region}}</td>
                        <td>{{ "{:,.0f}".format(capacity[region]['servers_total']) }}</td>

                        <td>{{ "{:,.0f}".format(capacity[region]['vcpus_used']) }}</td>
                        <td>{{ "{:,.0f}".format(capacity[region]['vcpus_size']) }}</td>
                        <td>{{ "{:,.0f}".format(capacity[region]['projects']['vcpus_used']) }}</td>
                        <td style="color:{{capacity[region]['projects']['vcpus_size_color']}}">
                            {{ "{:,.0f}".format(capacity[region]['projects']['vcpus_size']) }}
                        </td>

                        <td>{{ "{:,.0f}".format(capacity[region]['memory_used']) }}</td>
                        <td>{{ "{:,.0f}".format(capacity[region]['memory_size']) }}</td>
                        <td>{{ "{:,.0f}".format(capacity[region]['projects']['memory_used']) }}</td>
                        <td style="color:{{capacity[region]['projects']['memory_size_color']}}">
                            {{ "{:,.0f}".format(capacity[region]['projects']['memory_size']) }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="span12">
        <div class="section">
            <h1>Volume in Use</h1>
        </div>
        <div class="section">
            <table id="volume" class="table table-bordered">
                {% for region in regions %}
                <thead>
                    <tr>
                        <th>Region</th>
                        <th>Type</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in capacity[region]['cinder'].keys() %}
                    <tr>
                        <td>{{region}}</td>
                        <td>{{type}}</td>
                        <td class="value">{{ "{:,.0f}".format(capacity[region]['cinder'][type]['in_use']) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
